/*Card*/
.HeroContainer {
    height: 280px;
    width: 210px;
    background: #e6e6e68a;
    margin: 18px;
    box-shadow: 0 0 6px #480e0e;
    transition: all 350ms;
}
.HeroContainer:hover{
    box-shadow: 0 0 12px #480e0e;
}

.HeroContainer:hover .HeroPhoto>button{
    opacity: 1;
    transition: all 350ms;
}
.HeroContainer:hover .HeroPhoto>img{
    filter: blur(1px);
    transition: all 350ms;
}

.HeroContainer .HeroPhoto{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.HeroContainer .HeroPhoto>img{
    height: 180px;
    width: 180px;
    box-shadow: 0 0 12px #3a1a1a99;
    transition: all 350ms;
}

.HeroContainer .HeroPhoto>button{
    position: absolute;
    height: 28px;
    width: 54px;
    border: 0;
    background: #ff863fc2;
    box-shadow: 0 0 5px black;
    color: #170e0e;
    opacity: 0;
    cursor: pointer;
    transition: all 350ms;
    outline: none;
}
.HeroContainer .HeroName{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid #dadada24;
    border-top: thin solid #dadada24;
    background: #8080805e;
    color: #2b2b2b;
    box-shadow: 0 0 2px #3a1a1a99;
}
.HeroContainer .HeroDesc{
    height: calc(15% - 2px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.HeroContainer .HeroDesc>a{
    height: 20px;
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5807075c;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 4px;
    color: #cacaca;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 350ms;
}

.HeroContainer .HeroDesc>a:hover{
    transition: all 350ms;
    box-shadow: 0 0 2px #3a1a1a99;
    background: rgba(156, 12, 12, 0.36);
}

.HeroDetails{
    height: 100%;
    width: 100%;
}
.HeroDetails .HerosDetailsTitle{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d673;
    border-radius: 8px;
}
.HeroDetails .HerosDetailsContent{
    height: 384px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #d6d6d673;
    border-radius: 8px;
}


.HeroDetails .HerosDetailsContent .HerosDetailsContentBtn{
    border: 0;
    height: 42px;
    width: 240px;
    margin: 16px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: all 350ms;
}

.HeroDetails .HerosDetailsContent .HerosDetailsContentBtn:hover{
    box-shadow: 0 0 9px grey;
    color: #e8e8e8;
    background: #7b2222;
    transition: all 350ms;
}

.HeroDetails .HerosDetailsSection{
    height: 384px;
    margin-top: 20px;
    background: #d6d6d673;
    border-radius: 8px;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionHeader{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionHeader .HerosDetailsSectionHeaderBackBtn{
    height: 100%;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-left-radius: 8px;
    transition: all 350ms;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionHeader .HerosDetailsSectionHeaderBackBtn:hover{
    background: #ddd7d7;
    transition: all 350ms;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionHeader .HerosDetailsSectionHeaderBackBtn>img{
    height: 35px;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionHeader .HerosDetailsSectionHeaderTitle{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 17px;
    color: #3a3a3a;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionContent{
    height: 325px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionContent .HerosDetailsSectionContentNoItems{
    font-size: 20px;
}

.HeroDetails .HerosDetailsSection .HerosDetailsSectionContent .HerosDetailsSectionContentItems{
    height: 325px;
    width: 100%;
    overflow-y: auto;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionContent .HerosDetailsSectionContentItem{
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 26px;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
    transition: all 350ms;
}
.HeroDetails .HerosDetailsSection .HerosDetailsSectionContent .HerosDetailsSectionContentItem:hover{
    background: #d8d8d8b0;
    box-shadow: 0 0 5px #8080809c;
    transition: all 350ms;
}
